# Exercises I

- Run python -m pip install mysqlclient pymysql from your terminal to install pymysql and the mysqlclient.

- Create a notebook or python script named advanced_dataframes to do your work in for these exercises.

In [13]:
import pandas as pd
import numpy as np
from pydataset import data

from env import host, user, password

url = f'mysql+pymysql://{user}:{password}@{host}/employees'

# 1. Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [2]:
def get_db_url(host, user, password, database):
    return f'mysql+pymysql://{user}:{password}@{host}/employees'

# 2. Use your function to obtain a connection to the employees database.

In [3]:
url = get_db_url(host, user, password, 'employees')

In [4]:
#to check if it is connected and assigned as variable emp
emp= pd.read_sql('select * from employees limit 10', url)

In [5]:
print(emp)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10001  1953-09-02     Georgi    Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel     Simmel      F  1985-11-21
2   10003  1959-12-03      Parto    Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian    Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi   Maliniak      M  1989-09-12
5   10006  1953-04-20     Anneke    Preusig      F  1989-06-02
6   10007  1957-05-23    Tzvetan  Zielinski      F  1989-02-10
7   10008  1958-02-19     Saniya   Kalloufi      M  1994-09-15
8   10009  1952-04-19     Sumant       Peac      F  1985-02-18
9   10010  1963-06-01  Duangkaew   Piveteau      F  1989-08-24

# 3. Once you have successfully run a query:

In [6]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

## a. Intentionally make a typo in the database url. What kind of error message do you see?

- Answer: error message is shown below cell

In [12]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:mysl.pymysql

# b. Intentionally make an error in your SQL query. 
#What does the error message look like?

- Answer: error message is shown below cell

In [8]:
pd.read_sql('SELECT * FROM empoyees LIMIT 5 OFFSET 50', url)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.empoyees' doesn't exist")
[SQL: SELECT * FROM empoyees LIMIT 5 OFFSET 50]
(Background on this error at: http://sqlalche.me/e/13/f405)

# 4. Read the employees and titles tables into two separate DataFrames.

In [31]:
employees = pd.read_sql('SELECT * FROM employees', url) #employees table


employees

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [33]:
titles = pd.read_sql('SELECT * FROM titles', url) # titles table

titles

        emp_no            title   from_date     to_date
0        10001  Senior Engineer  1986-06-26  9999-01-01
1        10002            Staff  1996-08-03  9999-01-01
2        10003  Senior Engineer  1995-12-03  9999-01-01
3        10004         Engineer  1986-12-01  1995-12-01
4        10004  Senior Engineer  1995-12-01  9999-01-01
...        ...              ...         ...         ...
443303  499997         Engineer  1987-08-30  1992-08-29
443304  499997  Senior Engineer  1992-08-29  9999-01-01
443305  499998     Senior Staff  1998-12-27  9999-01-01
443306  499998            Staff  1993-12-27  1998-12-27
443307  499999         Engineer  1997-11-30  9999-01-01

[443308 rows x 4 columns]

# 5. How many rows and columns do you have in each DataFrame? 
- Is that what you expected? Yes

In [21]:
# 5. How many rows and columns do you have in each DataFrame? Is that what you expected?
employees.shape # employees table columns and rows

(300024, 6)

In [19]:
titles.shape # titles table columns and rows

(443308, 4)

# 6. Display the summary statistics for each DataFrame.

In [23]:
employees.describe() #employees table statistics

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [24]:
titles.describe() # titles table statistics

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

# 7. How many unique titles are in the titles DataFrame?

In [25]:
pd.read_sql('SELECT COUNT(DISTINCT title) FROM titles' , url)

   COUNT(DISTINCT title)
0                      7

# 8. What is the oldest date in the to_date column?

In [35]:
titles['to_date'].sort_values().head(1)

16064    1985-03-01
Name: to_date, dtype: object

# 9. What is the most recent date in the to_date column?

In [36]:
titles['to_date'].sort_values().tail(1)

443307    9999-01-01
Name: to_date, dtype: object

# Exercises II

In [ ]:
# 1. Copy the users and roles DataFrames from the examples above.

In [ ]:
# 2. What is the result of using a right join on the DataFrames?

In [ ]:

# 3. What is the result of using an outer join on the DataFrames?

In [ ]:
# 4. What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [ ]:
# 5. Load the mpg dataset from PyDataset.

In [ ]:
# 6. Output and read the documentation for the mpg dataset.

In [ ]:
# 7. How many rows and columns are in the dataset?

In [ ]:
# 8. Check out your column names and perform any cleanup you may want on them.

In [ ]:
# 9. Display the summary statistics for the dataset.

In [ ]:
# 10. How many different manufacturers are there?

In [ ]:
# 11. How many different models are there?

In [ ]:
# 12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [ ]:
# 13. Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [ ]:
# 14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [ ]:
# 15. Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [ ]:
# 16. Do automatic or manual cars have better miles per gallon?